{% extends './layouts/layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You cannot claim for a livestock review for this business</h1>

    {% if (error.name === 'InvalidPermissionsError') %}
      <p class="govuk-body">You do not have the required permission to act for {{ organisationName }}{{ sbiText }}.</p>
    
      <h2 class="govuk-heading-m">What to do next</h2>

      <p class="govuk-body">To claim for this business, the business owner must give you either:</p>
      <ul class='govuk-list govuk-list--bullet'>
        <li>full permission level for business details</li>
        <li>‘submit’ permission level for the basic payment scheme</li>
      </ul>
    {% endif %}

    {% if (error.name === 'NoApplicationFound') %}
      <p class="govuk-body">{{ organisationName }}{{ sbiText }} has not applied for an annual health and welfare review of livestock.</p>
    {% endif %}

    {% if (error.name === 'ClaimHasAlreadyBeenMade') %}
      <p class="govuk-body">{{ organisationName }}{{ sbiText }} has already claimed for an annual health and welfare review of livestock.</p>
    
      <h2 class="govuk-heading-m">What to do next</h2>
    {% endif %}

    {% if hasMultipleBusinesses %}
      <h2 class="govuk-heading-m">Claim for another business</h2>
      <p>You can <a href='{{backLink}}'>claim for another business</a> that has applied for a review.</p>
    {% endif %}

    <h2 class="govuk-heading-m">Get help with your claim</h2>

    <p class="govuk-body">If you have a question about this claim, contact the Rural Payments Agency by email or phone.</p>

    <p>If you have your agreement number, have it with you when you call or include it in your email.</p>
   
    {{ rpaContactDetails(ruralPaymentsAgency) }}
  </div>
</div>
{% endblock %}
