{% extends './layouts/layout.njk' %}

{% block pageTitle %}Biosecurity - {{ serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l">Biosecurity</h1>
  </div>
{% endblock %}