{% extends './layouts/layout.njk' %}

{% block pageTitle %}You cannot continue with your claim - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You cannot continue with your claim</h1>

        <p class="govuk-body">
        The vet should have done a <a href="https://apply-for-an-annual-health-and-welfare-review.defra.gov.uk/apply/claim-guidance-for-farmers">biosecurity assessment.</a> Once you have done this, you can start your claim again.
        </p>

        <p class="govuk-body">If the vet did a biosecurity assessment, you’ll need to go back and change your answer.</p>
        <p class="govuk-body"><a class="govuk-link" href={{backLink}}>If the vet did a biosecurity assessment, you’ll need to go back and change your answer.</a></p>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                Your claim will be checked by our team.
            </strong>
        </div>
        {% include './chunks/get-help-with-claim.njk' %}
    </div>
  </div>
{% endblock %}

The vet should have done a biosecurity assessment.  If the vet did a biosecurity assessment, you’ll need to go back and change your answer. 

Change your answer if the vet did a biosecurity assessment.


