{% extends './layouts/layout.njk' %}

{% block pageTitle %} Date of Visit  - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
        text: "Back",
        href: backLink.href
      }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row govuk-width-container govuk-!-static-margin-top-0">
    <div class="govuk-grid-column-two-thirds govuk-!-static-padding-0">
      <h1 class="govuk-heading-l">Date Of Visit</h1>
  </div>
{% endblock %}