{% extends './layouts/layout.njk' %}

{% block pageTitle %}Date of visit - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}
      <h1 class="govuk-heading-l">Date of {{ reviewOrFollowUpText }}
      </h1>
      <p>This is the date the vet last visited the farm for this {{ reviewOrFollowUpText }}.
        You can find it on the summary the vet gave you.</p>
      <form method="POST">
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        <input type="hidden" name="dateOfAgreementAccepted" value="{{dateOfAgreementAccepted}}"/>

        <div id="when-was-the-vet-visit" class="govuk-form-group {% if dateOfReview.errorMessage %}govuk-form-group--error{% endif %}">
          {% if dateOfVisit.day.error %}
            {% set dateOfVisitDay = {
              name: 'day',
              value: dateOfVisit.day.value,
              classes: 'govuk-input--width-2 govuk-input--error'
            } %}
          {% else %}
            {% set dateOfVisitDay = {
              name: 'day',
              value: dateOfVisit.day.value,
              classes: 'govuk-input--width-2'
            } %}
          {% endif %}

          {% if dateOfVisit.month.error %}
            {% set dateOfVisitMonth = {
              name: 'month',
              value: dateOfVisit.month.value,
              classes: 'govuk-input--width-2 govuk-input--error'
            } %}
          {% else %}
            {% set dateOfVisitMonth = {
              name: 'month',
              value: dateOfVisit.month.value,
              classes: 'govuk-input--width-2'
            } %}
          {% endif %}

          {% if dateOfVisit.year.error %}
            {% set dateOfVisitYear = {
              name: 'year',
              value: dateOfVisit.year.value,
              classes: 'govuk-input--width-4 govuk-input--error'
            } %}
          {% else %}
            {% set dateOfVisitYear = {
              name: 'year',
              value: dateOfVisit.year.value,
              classes: 'govuk-input--width-4'
            } %}
          {% endif %}

          {{ govukDateInput({
            id: "visit-date",
            namePrefix: "visit-date",
            hint: {
              html: "For example, 27 3 2022"
            },
            errorMessage: dateOfVisit.errorMessage,
            items: [dateOfVisitDay, dateOfVisitMonth, dateOfVisitYear]
          }) }}
        </div>
        {{ govukButton({
          text: "Continue",
          attributes: {
            id: "continue"
          },
          preventDoubleClick: true
        }) }}

      </form>
    </div>
  </div>
{% endblock %}