{% extends './layouts/layout.njk' %}

{% block pageTitle %}{% if errorSummary.length %}Error: {% endif %}When were samples taken? - {{ serviceName }} - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}
      <form method="POST">
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        <input type="hidden" name="dateOfAgreementAccepted" value="{{dateOfAgreementAccepted}}"/>
        <input type="hidden" name="dateOfVisit" value="{{dateOfVisit}}"/>

        <div class="govuk-form-group {% if whenTestingWasCarriedOut.errorMessage %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" aria-describedby="whenTestingWasCarriedOut-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">{{questionText}}</h1>
            </legend>
          {% if whenTestingWasCarriedOut.onAnotherDate.day.error %}
            {% set onAnotherDateDay = {
              name: 'day',
              value: whenTestingWasCarriedOut.onAnotherDate.day.value,
              classes: 'govuk-input--width-2 govuk-input--error'
            } %}
          {% else %}
            {% set onAnotherDateDay = {
              name: 'day',
              value: whenTestingWasCarriedOut.onAnotherDate.day.value,
              classes: 'govuk-input--width-2'
            } %}
          {% endif %}

          {% if whenTestingWasCarriedOut.onAnotherDate.month.error %}
            {% set onAnotherDateMonth = {
              name: 'month',
              value: whenTestingWasCarriedOut.onAnotherDate.month.value,
              classes: 'govuk-input--width-2 govuk-input--error'
            } %}
          {% else %}
            {% set onAnotherDateMonth = {
              name: 'month',
              value: whenTestingWasCarriedOut.onAnotherDate.month.value,
              classes: 'govuk-input--width-2'
            } %}
          {% endif %}

          {% if whenTestingWasCarriedOut.onAnotherDate.year.error %}
            {% set onAnotherDateYear = {
              name: 'year',
              value: whenTestingWasCarriedOut.onAnotherDate.year.value,
              classes: 'govuk-input--width-4 govuk-input--error'
            } %}
          {% else %}
            {% set onAnotherDateYear = {
              name: 'year',
              value: whenTestingWasCarriedOut.onAnotherDate.year.value,
              classes: 'govuk-input--width-4'
            } %}
          {% endif %}

          {% set onAnotherDate %}
          {{ govukDateInput({
              id: "on-another-date",
              namePrefix: "on-another-date",
              hint: {
                html: "For example, 27 3 2022"
              },
              errorMessage: whenTestingWasCarriedOut.onAnotherDate.errorMessage,
              items: [onAnotherDateDay, onAnotherDateMonth, onAnotherDateYear]
            }) }}
          {% endset %}

          {{ govukRadios({
            id: "whenTestingWasCarriedOut",
            name: "whenTestingWasCarriedOut",
            hint: {
              text: questionHintText
            },
            errorMessage: whenTestingWasCarriedOut.errorMessage,
            items: [
              {
                value: "whenTheVetVisitedTheFarmToCarryOutTheReview",
                text: optionSameReviewOrFollowUpDateText,
                checked: whenTestingWasCarriedOut.value === 'whenTheVetVisitedTheFarmToCarryOutTheReview'
              },
              {
                value: "onAnotherDate",
                text: "On another date",
                checked: whenTestingWasCarriedOut.value === 'onAnotherDate',
                conditional: {
                  html: onAnotherDate
                }
              }
            ]
          }) }}
          </fieldset>
        </div>
        {{ govukButton({
          text: "Continue",
          attributes: {
            id: "continue"
          },
          preventDoubleClick: true
        }) }}

      </form>
    </div>
  </div>
{% endblock %}