{% extends './layouts/layout.njk' %}

{% block pageTitle %}You cannot continue with your claim - {{ serviceName }} - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You cannot sign in with SBI {{sbi}}</h1>
        <p class="govuk-body">{{errorMessage}}</p>
      <p class="govuk-body">Either create an agreement via the apply journey, or choose an SBI which has an agreement.</p>
      <p class="govuk-body">
        <a href={{backLink}}>Choose another SBI.</a>
      </p>
    </div>
  </div>
{% endblock %}