{% extends './layouts/layout.njk' %}

{% block pageTitle %}Disease Status - {{ serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l">Disease Status</h1>
  </div>
{% endblock %}