{% extends './layouts/layout.njk' %}

{% block pageTitle %}You cannot continue with your claim - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">There could be a problem with your claim</h1>
      <br>
      <p class="govuk-body">Testing is done on lambs less than 12 months old.</p>
      <p class="govuk-body"><a href={{continueClaimLink}}>If you had less than 10 lambs on the date of the review and they were all tested, you can continue with your claim.</a></p>
      <p class="govuk-body">If all the lambs were not tested, you cannot continue and need to ask the vet to test again.</p>
      <p class="govuk-body">If you entered the wrong number, you’ll need to go back and enter the correct number.</p>
      <p class="govuk-body">
        <a class="govuk-link" href={{ backLink }}>Enter the number of animals tested</a>
      </p>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
            Your claim will be checked by our team.
        </strong>
      </div>
      <h2 class="govuk-heading-m">Get help with your claim</h2>
      <p class="govuk-body">If you need help, contact the Rural Payments Agency.</p>
      {{ rpaContactDetails({email: ruralPaymentsAgency.email, callChargesUri: ruralPaymentsAgency.callChargesUri, telephone: ruralPaymentsAgency.telephone}) }}
      <p class="govuk-body">Have your agreement number with you when you call or include it in your email.</p>
    </div>
  </div>
{% endblock %}