{% extends './layouts/layout.njk' %}

{% block pageTitle %}You cannot continue with your claim - {{ serviceName }} - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You cannot continue with your claim</h1>
      <p class="govuk-body">The number of pigs samples were taken from does not match the number required.</p>
      <h2 class="govuk-heading-m">What to do next</h2>
      <p class="govuk-body">If samples were not taken from the number of pigs required, they need to be taken again from the required number.</p>
      <p class="govuk-body">
        <a class="govuk-link" rel="external" href="https://www.gov.uk/government/publications/pigs-testing-required-for-an-annual-health-and-welfare-review-and-endemic-disease-follow-up/vets-testing-pigs-for-endemic-disease-follow-up#testing-sampling-and-advice">The number of pigs that need to be sampled is in the guidance.</a>
      </p>
      <p class="govuk-body">When samples have been taken from the required number of pigs, start your claim again</p>
      <p class="govuk-body">If you entered the wrong number, you'll need to go back and enter the correct number.</p>
      <p class="govuk-body">
        <a class="govuk-link" href={{ backLink }}>Enter the number of pigs samples were taken from.</a>
      </p>
      {{ govukWarningText({
        text: "Your claim will be checked by our team.",
        iconFallbackText: "Warning"
      }) }}
      {% include './chunks/get-help-with-claim.njk' %}
    </div>
  </div>
{% endblock %}