{% extends './layouts/layout.njk' %}

{% block pageTitle %}You cannot continue with your claim - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You cannot continue with your claim</h1>
      <br>
      <p class="govuk-body">The number of animals you have entered does not meet the minimum required.</p>
      <h2 class="govuk-heading-m">What to do next</h2>
      <p class="govuk-body">If the vet has not tested the minimum required number of animals, ask the vet to carry out testing again on the minimum number.</p>
      <p class="govuk-body">The number required for each species is included in the guidance:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="https://apply-for-an-annual-health-and-welfare-review.defra.gov.uk/apply/test-cattle">cattle: testing required for an annual health and welfare review</a></li>
        <li><a class="govuk-link" href="https://apply-for-an-annual-health-and-welfare-review.defra.gov.uk/apply/test-sheep">sheep: testing required for an annual health and welfare review</a></li>
        <li><a class="govuk-link" href="https://apply-for-an-annual-health-and-welfare-review.defra.gov.uk/apply/test-pigs">pigs: testing required for an annual health and welfare review</a></li>
      </ul>
      <p class="govuk-body">When the vet has tested the required number, start your claim again.</p>
      <p class="govuk-body">If you entered the wrong number, you’ll need to go back and enter the correct number.</p>
      <p class="govuk-body">
        <a class="govuk-link" href={{ backLink }}>Enter the number of animals tested</a>
      </p>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
            Your claim will be checked by our team.
        </strong>
      </div>
      {% include './chunks/get-help-with-claim.njk' %}
    </div>
  </div>
{% endblock %}