{% extends './layouts/layout.njk' %}

{% block pageTitle %}You cannot continue with your claim - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You cannot continue with your claim</h1>
      <p class="govuk-body">The number of animals you entered does not meet the minimum required.</p>
      <h2 class="govuk-heading-m">What to do next</h2>
      <p class="govuk-body">If samples were not taken from the minimum required number of animals, they need to be taken again from the minimum number.</p>
      <p class="govuk-body">The number required for each species is included in the guidance:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" rel="external" href="https://www.gov.uk/government/publications/cattle-testing-required-for-an-annual-health-and-welfare-review-and-endemic-disease-follow-up">testing cattle for animal health and welfare review and endemic disease follow-up</a>
        </li>
        <li>
          <a class="govuk-link" rel="external" href="https://www.gov.uk/government/publications/pigs-testing-required-for-an-annual-health-and-welfare-review-and-endemic-disease-follow-up">testing pigs for animal health and welfare review and endemic disease follow-up</a>
        </li>
      </ul>
      <p class="govuk-body">When samples have been taken from the required number, start your claim again</p>
      <p class="govuk-body">If you have entered the wrong number, you'll need to go back and enter the correct number.</p>
      <p class="govuk-body">
        <a class="govuk-link" href={{ backLink }}>Enter the number of animals samples were taken from</a>
      </p>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
            Your claim will be checked by our team.
        </strong>
      </div>
      {% include './chunks/get-help-with-claim.njk' %}
    </div>
  </div>
{% endblock %}