{% extends './layouts/layout.njk' %}

{% block pageTitle %}You cannot continue with your claim - {{ serviceName }} - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You cannot continue with your claim</h1>
      <p class="govuk-body">
        <a class="govuk-link" rel="external" href="https://www.gov.uk/guidance/farmers-how-to-apply-for-funding-to-improve-animal-health-and-welfare#timing-of-reviews-and-follow-ups">You must have an approved review claim for the different herd or flock, before you can claim for a follow-up.</a>
      </p>
      <p class="govuk-body">If you have not claimed for the review yet, you will need to submit a claim and have the claim approved first.</p>
      <p class="govuk-body">
        <a class="govuk-link" href={{ claimForAReviewLink }}>Claim for a review</a>
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href={{ backLink }}>{{backToPageMessage}}</a>
      </p>
      {{ govukWarningText({
        text: "Your claim will be checked by our team.",
        iconFallbackText: "Warning"
      }) }}
      {% include './chunks/get-help-with-claim.njk' %}
    </div>
  </div>
{% endblock %}