{% extends './layouts/layout.njk' %}

{% block pageTitle %}{% if errorMessage %}Error: {% endif %}Which species are you claiming for? - {{ serviceName }} - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
        text: "Back",
        href: backLink
      }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row govuk-width-container govuk-!-static-margin-top-0">
    <div class="govuk-grid-column-two-thirds govuk-!-static-padding-0">
      {% if errorMessage %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList:[{
            text: errorMessage.text,
              href: "#typeOfLivestock"
          }]
        }) }}
      {% endif %}

    <form method="POST" autocomplete="off" novalidate="novalidate">
      <input type="hidden" name="crumb" value="{{crumb}}"/>

      {{ govukRadios({
          id: "typeOfLivestock",
          name: "typeOfLivestock",
          errorMessage: errorMessage,
          fieldset: {
              legend: {
                text: "Which species are you claiming for?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
          items: [
            {
              value: "beef",
              text: "Beef cattle",
              checked: previousAnswer === "beef"
            },
            {
              value: "dairy",
              text: "Dairy cattle",
              checked: previousAnswer === "dairy"
            },
            {
              value: "pigs",
              text: "Pigs",
              checked: previousAnswer === "pigs"
            },
            {
              value: "sheep",
              text: "Sheep",
              checked: previousAnswer === "sheep"
            }
          ]
        })
      }}
      {{ govukButton({
          text: "Continue",
          attributes: {id: "btnContinue"},
          preventDoubleClick: true
        })
      }}
    </form>
  </div>
{% endblock %}