# Test output
html-reports
test-output

# npm stuff
.npm/
node_modules
npm-debug.log

# Misc
helm/**/*.lock
*.tgz
.env
*.log

# Editor stuff
.vscode
dist/

# Generated views
layout.njk

# OS stuff
.DS_Store
/test/acceptance-disable/.env.snd
/test/acceptance-disable/allure-report/
/.idea/
/test/acceptance-disable/.env.snd
/test/acceptance-disable/reporter/cucumber_report.html
/test/acceptance-disable/reporter/cucumber_report.html.json
/test/acceptance-disable/.env.dev
/test/acceptance-disable/.env.test
/test/acceptance-disable/.env.local
