# Test output
html-reports
test-output

# npm stuff
.npm/
node_modules
npm-debug.log

# Misc
helm/**/*.lock
*.tgz
.env
*.log

# Editor stuff
.vscode
dist/

# Generated views
layout.njk

# OS stuff
.DS_Store
/test/acceptance-disabled/.env.snd
/test/acceptance-disabled/allure-report/
/.idea/
/test/acceptance-disabled/.env.snd
/test/acceptance-disabled/reporter/cucumber_report.html
/test/acceptance-disabled/reporter/cucumber_report.html.json
