{% extends './layouts/layout.njk' %}

{% block pageTitle %}Check herd details - {{ serviceName }} - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "",
	attributes: { id: "back" }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check herd details</h1>

      {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: [
      {
        key: {
          text: "Herd name"
        },
        value: {
          text: "Pedigree sheep"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "herd name"
            }
          ]
        }
      },
      {
        key: {
          text: "CPH number for herd"
        },
        value: {
          text: "23/344/5624"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "CPH number"
            }
          ]
        }
      },
      {
        key: {
          text: "Other herds on CPH"
        },
        value: {
          text: "No"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "other herds on CPH"
            }
          ]
        }
      },
      {
        key: {
          text: "Herd details"
        },
        value: {
          html: "They have separate management needs<br>They are a different breed<br>Other"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "herd details"
            }
          ]
        }
      },
      {
        key: {
          text: "Tell us why"
        },
        value: {
          text: "These are very distinct because of these reasons. Here is a paragraph about why we are testing them separately."
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "tell us why they are different"
            }
          ]
        }
      }]
    }) }}

        <input type="hidden" name="crumb" value="{{crumb}}"/>
    
        {{ govukButton({
            text: "Continue",
            attributes: { id: "continue" },
            preventDoubleClick: true }) 
        }}
    </div>
  </div>
{% endblock %}