{% extends './layouts/layout.njk' %}

{% block pageTitle %}Enter the CPH number for this herd - {{ serviceName }} - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "",
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorMessage %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [errorMessage]
          }) }}
      {% endif %}
      <h1 class="govuk-heading-l govuk-!-margin-bottom-9">Enter the County Parish Holding (CPH) number for this herd</h1>
      <form method="POST" autocomplete="off" novalidate="novalidate">
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        {{ govukInput({
        label: {
            text: "CPH number for this herd",
            classes: "govuk-label--m "
        },
         hint: {
            text: "For example, 12/345/6789"
         },
        classes: "govuk-input",
        id: "herdCph",
        name: "herdCph",
        value: herdCph,
        errorMessage: errorMessage
      }) }}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

      {{ govukRadios({
        id: "otherHerdsOnCph",
        name: "otherHerdsOnCph",
        classes: 'govuk-radios--inline',
        fieldset:{
          legend:{
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m",
            text: "Are there any other herds on this CPH?"
          }
        }, 
        errorMessage: errorMessage,
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: previousAnswer == "yes"
          },
          {
            value: "no",
            text: "No",
            checked: previousAnswer == "no"
          }
        ]
      })}}

        {{ govukButton({
          text: "Continue",
          attributes: { id: "btnContinue" },
          preventDoubleClick: true
        }) 
      }}
      </form>
    </div>
  </div>
{% endblock %}