{% extends './layouts/layout.njk' %}

{% block pageTitle %}Enter the herd details - {{ serviceName }} - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "",
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorMessage %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [errorMessage]
          }) }}
      {% endif %}

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Enter the herd details</h1>
      <p class="govuk-hint govuk-!-margin-bottom-7">You can find this information on the ‘Tell us about a herd or flock’ section of the form that the vet filled in for you.</p>

      <form method="POST" autocomplete="off" novalidate="novalidate">
        <input type="hidden" name="crumb" value="{{crumb}}"/>

        {{ govukCheckboxes({
            id: "reasons",
            idPrefix: "reasons",
            name: "reasons",
            errorMessage: errorMessage,
            fieldset: {
                legend: {
                  text: "The herd or flock is a separate herd or flock (epidemiologically distinct unit) because:",
                  classes: "govuk-fieldset__legend--m"
                }
              },
            hint: {
              text: "Select all that apply"
            },
            items: [
            {
                value: "separateManagementNeeds",
                text: "They have separate management needs"
            },
            {
                value: "uniqueHealthNeeds",
                text: "They have unique health needs to other herds on the farm (if present)"
            },
            {
                value: "differentBreed",
                text: "They are a different breed"
            },
            {
                value: "differentPurpose",
                text: "They are used for another purpose than the other herd(s) (e.g. milking cattle)"
            },
            {
                value: "keptSeparate",
                text: "They have been kept completely separate from any other herds"
            },
            {
                value: "other",
                text: "Other"
            }]
          }) }}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

        {{ govukTextarea({
            name: "epidemiologicallyDistinctReason",
            id: "epidemiologicallyDistinctReason",
            label: {
              text: "Tell us why the vet considers it a separate herd or flock (epidemiologically distinct unit)",
              classes: "govuk-label--m"
            }
        })}}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

        {{ govukButton({
          text: "Continue",
          attributes: { id: "btnContinue" },
          preventDoubleClick: true
        }) 
      }}
      </form>
    </div>
  </div>
{% endblock %}