{% extends './layouts/layout.njk' %}

{% block pageTitle %}Multiple herds pages - {{ serviceName }} - GOV.UK{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {{ govukButton({
            text: "Enter herd name",
            href: "multipleHerds/enter-herd-name",
            classes: "govuk-button--secondary"}) 
        }}
        {{ govukButton({
            text: "Enter herd CPH",
            href: "multipleHerds/enter-cph-number",
            classes: "govuk-button--secondary"}) 
        }}
        {{ govukButton({
            text: "Enter herd details",
            href: "multipleHerds/enter-herd-details",
            classes: "govuk-button--secondary"}) 
        }}
        {{ govukButton({
            text: "Check herd details",
            href: "multipleHerds/check-herd-details",
            classes: "govuk-button--secondary"}) 
        }}
        {{ govukButton({
            text: "Is this the same herd",
            href: "multipleHerds/is-this-the-same-herd",
            classes: "govuk-button--secondary"}) 
        }}
        {{ govukButton({
            text: "Select the flock (one stored)",
            href: "multipleHerds/select-the-herd?herds=SHOW_HERD_ID1&species=sheep&claimType=Review&lastVisitDate=11 December 2024&claimedDate=12 March 2025",
            classes: "govuk-button--secondary"}) 
        }}
        {{ govukButton({
            text: "Select the herd (multiple stored)",
            href: "multipleHerds/select-the-herd?herds=SHOW_HERD_ID1&herds=SHOW_HERD_ID2&herds=SHOW_HERD_ID3&species=pigs",
            classes: "govuk-button--secondary"}) 
        }}
    </div>
  </div>
{% endblock %}