{% extends './layouts/layout.njk' %}

{% set pageQuestion = "How many animals did the vet test?" %}
{% set paragraph1 = "Enter the number of animals the vet tested. You can find it on the review summary the vet has given you." %}
{% set paragraph2 = "You cannot use test results from tests carried out before you agreement start date or after your claim. If you do, your claim will be rejected." %}
{% set qLabel = "Enter a number" %}

{% block pageTitle %}{{pageQuestion}} - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/claim/vet-visit-date",
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorMessage %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [errorMessage]
          }) }}
        {% endif %}

      <form method="POST">
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        <h1 class="govuk-heading-l">{{pageQuestion}}</h1>
        <p class="govuk-body">{{paragraph1}}</p>
        <p class="govuk-body">{{paragraph2}}</p>

        {{ govukInput({
          label: {
            text: qLabel,
            isPageHeading: false
          },
          classes: "govuk-input--width-5",
          id: "number-of-animals-tested",
          name: "animalsTested",
          value: animalsTested,
          errorMessage: errorMessage
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            id: "continue"
          },
          preventDoubleClick: true
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
