{% extends './layouts/layout.njk' %}

{% block pageTitle %}Claim complete - {{ serviceName }} - GOV.UK{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Claim complete",
      html: "Your agreement number<br><strong>" + reference + "</strong>"
    }) }}
    <p>Your claim has been successfully submitted.</p>
    <p>We've sent you a confirmation email.</p>
    <h2 class="govuk-heading-m">What happens next</h2>
    <p>The Rural Payments Agency (RPA) may contact you to request the review summary the vet has given you.</p>
    <h2 class="govuk-heading-m">Get help with your claim</h2>
    <p>Contact the RPA by phone or email if you need to change the details of your claim - for example if you have entered the vet's Royal College of Veterinary Surgeons number incorrectly.</p>
    <p>Have your agreement number with you when you call or include it in your email.</p>
    {{ rpaContactDetails({email: ruralPaymentsAgency.email, callChargesUri: ruralPaymentsAgency.callChargesUri, telephone: ruralPaymentsAgency.telephone}) }}
    <br/>
    <p>
      <a class='govuk-link' target='_blank' href={{ claimSurveyUri }}>
        What did you think of this service?
      </a>
      (giving feedback takes about 5 minutes)
    </p>
  </div>
</div>
{% endblock %}
