{% extends './layouts/layout.njk' %}

{% block pageTitle %}Claim complete - {{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Claim complete",
      html: "Your agreement number<br><strong>" + reference + "</strong>"
    }) }}
    <p>Your claim has been successfully submitted.</p>
    <p>We've sent you a confirmation email.</p>
    <h2 class="govuk-heading-m">What happens next</h2>
    <p>The Rural Payments Agency may contact you to request the review summary the vet has given you.</p>
    <h2 class="govuk-heading-m">Get help with your claim</h2>
    <p>Contact the Rural Payments Agency if you need to change the details of your claim - for example if you've entered the vet's Royal College of Veterinary Surgeons number incorrectly.</p>
    <p>Have your agreement number with you when you call or include it in your email.</p>
    <ul class="govuk-list">
      <li>Rural Payments Agency</li>
      <li>Telephone: 01900 508 622</li>
      <li>Monday to Friday, 8:30am to 5pm (except public holidays)</li>
      <li><a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
    </ul>
    <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>.</p>
  </div>
</div>
{% endblock %}
