{% extends './layouts/layout.njk' %}

{% block pageTitle %}Sign in - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
        text: "Back",
        href: "/claim",
        attributes: {
          id: "back"
        }
      })
    }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="event-name">Enter your email address</label>
      </h1>
      <form method="POST">
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label",
            isPageHeading: false
          },
          hint: {
            text: hintText
          },
          classes: "govuk-input-!-width-full",
          id: "email",
          name: "email",
          value: email,
          errorMessage: errorMessage
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            id: "submit"
          },
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
