{% extends './layouts/layout.njk' %}

{% block pageTitle %}No business available to claim for - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/claim",
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">No business available to claim for</h1>
    <p>There is no agreement you can claim funding for at this time.</p>
    <p>If you think this is wrong, contact the Rural Payments Agency:</p>
    
    {{ rpaContactDetails({email: ruralPaymentsAgency.email, callChargesUri: ruralPaymentsAgency.callChargesUri, telephone: ruralPaymentsAgency.telephone}) }}
  </div>
</div>
{% endblock %}
