{% extends './layouts/layout.njk' %}

{% block pageTitle %}{{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Which business are you claiming for?</h1>
    
    <p>These businesses have applied for an annual health and welfare review of livestock.</p>

    <form method="POST" autocomplete="off" novalidate="novalidate">
      <input type="hidden" name="crumb" value="{{crumb}}"/>

      <p>Select the business that’s claiming:</p>

      {{ govukRadios(radioOptions.radios) }}

      {{ govukButton({
        text: "Start claim",
        attributes: {id: "startClaim"},
        preventDoubleClick: true
      }) }}

      {{ govukDetails({
        summaryText: "Can’t see the business you’re looking for?",
        html: "<p>If you have a business that has applied for the review but is not listed, contact the Rural Payments Agency.</p>" + rpaContactDetails({email: ruralPaymentsAgency.email, callChargesUri: ruralPaymentsAgency.callChargesUri, telephone: ruralPaymentsAgency.telephone})
      }) }}
    </form>
  </div>
</div>

{% endblock %}
