{% extends './layouts/layout.njk' %}

{% block pageTitle %}Submit your claim - {{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Submit your claim</h1>

    <p>By submitting this claim, you confirm that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>all the information you've provided in this claim is correct to the best of your knowledge</li>
      <li>disease and endemic condition testing was carried out to recommended standards</li>
      <li>the vet has given you a written report</li>
      <li>the vet has given you a signed and dated review summary</li>
      <li>the review was carried out in accordance with the terms and conditions</li>
    </ul>

    <form method="POST" action="/submit-claim">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      {{ govukButton({
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        text: "Submit"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
