{% extends './layouts/layout.njk' %}

{% block pageTitle %}Submit your claim for funding - {{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Submit your claim for funding</h1>

    <p>By submitting your claim, you confirm that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you had the eligible number of animals on the date of the farm visit</li>
      <li>disease and endemic condition testing was carried out to recommended standards</li>
      <li>the vet gave you a written report</li>
      <li>the vet has completed and signed a cover sheet</li>
      <li>all the information you've provided is complete and correct to the best of your knowledge</li>
      <li>the information given is correct</li>
    </ul>

    <form method="POST" action="/submit-claim">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      {{ govukButton({
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        text: "Submit"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
