{% extends './layouts/layout.njk' %}

{% block pageTitle %}Submit your claim - {{ serviceName }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Submit your claim</h1>

    <p>By submitting your claim, you confirm that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>all the information you've provided in this claim is correct to the best of your knowledge</li>
      <li>the vet carried out disease and endemic condition testing to recommended standards - they tested the required number of animals and testing was done after the agreement date</li>
      <li>the vet has given you a written report</li>
      <li>the vet has given you a signed and dated review summary</li>
      <li>the review was carried out in accordance with the terms and conditions</li>
      <li>you understand you may have to provide evidence to the Rural Payments Agency to support this claim</li>
    </ul>

    <form id="submitClaimForm" method="POST" action="/claim/submit-claim">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      {{ govukButton({
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        text: "Submit claim",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
</div>
{% endblock %}
