{% extends './layouts/layout.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}Date of visit - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/claim/visit-review",
    attributes: {
      id: "back"
    }
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST">
        <input type="hidden" name="crumb" value="{{crumb}}"/>

        {% if errorList %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [ 
              errorList.visitDateError,
              errorList.testingDateError
            ]
          }) }}
        {% endif %}

        {{ govukDateInput({
          id: "visit-date",
          namePrefix: "visit-date",
          fieldset: {
            legend: {
              text: "When was the review completed?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: "This is the date when the vet last visited the farm to carry out the review.<br>For example, 27 3 2022"
          },
          errorMessage: errorList.visitDateError,
          items: items
        }) }}

        <h2 class="govuk-heading-m">When was endemic disease or condition testing carried out?</h2>

        {{ govukRadios({
          name: "testing-date",
          hint: {
            html: "This is the date the vet completed testing."
          },
          items: [
            {
              value: "on-review-date",
              text: "When the vet visited the farm to carry out the review"
            },
            {
              value: "on-another-date",
              text: "On another date"
            }
          ],
          errorMessage: errorList.testingDateError
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            id: "continue"
          },
          preventDoubleClick: true
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
